numpy
pandas
Flask
sqlalchemy==1.3.24
flask-sqlalchemy
marshmallow>=3.0.0
marshmallow-sqlalchemy==0.22.0
flask-cors
flask-marshmallow
flask-admin
flask-restx
flask-accepts
psycopg2-binary
geoalchemy2
flask-wtf
nglui==2.14.0
middle-auth-client>=3.16.0
Flask-Migrate
caveclient==5.4.0
